/* wangeditor 富文本编辑器
------------------------------- */
.editor-container {
	z-index: 10; // 用于 wangeditor 点击全屏时
	.w-e-toolbar {
		border: 1px solid var(--el-border-color-light, #ebeef5) !important;
		border-bottom: 1px solid var(--el-border-color-light, #ebeef5) !important;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		z-index: 2 !important;
	}
	.w-e-text-container {
		border: 1px solid var(--el-border-color-light, #ebeef5) !important;
		border-top: none !important;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		z-index: 1 !important;
	}
}